<!DOCTYPE html>
<html>
  <head>
    <title>Embedding Code Example</title>
    <style>
      /* Set the background color of the page */
      body {
        background-color: #f2f2f2;
      }
      
      /* Center the embedded code on the page */
      .embed-container {
        display: flex;
        justify-content: center;
      }
      
      /* Set the border and shadow for the embedded code */
      .embed-container embed {
        border: 1px solid white;
        box-shadow: 0 0 5px black;
      }
    </style>
  </head>
  <body>
    <h1>My Embedded Code</h1>
    <div class="embed-container">
      <embed src="https://app.sttabot.io/bot/peter-code-solutions/" width="1000" height="800">
    </div>
  </body>
</html>
